
body {
	font-family: helvetica;
	background: #DCDCDC;
	font-size: 5em;
}

h1{
   color: #191F24;
   font-size: 16px;
}

h2 {
	font-size: .55em;
	padding: 3px 1px 3px 1px;
}

p {
	font-size: 1.25em;
	display: inline-block;
}


h2#status {
	position: relative;
}

aside {
  float: right;
  width: 37%;
  padding: 5px;
  margin: 5px 5px 5px 15px;
  position: relative;
  right: 66px;
  top: 43px;
  border: white solid 1px;
  border-radius: 5px;
  height: 567px;
}




.balance {
	text-align: center;
}

.account {
	text-align: center;
}


#container {
  float: left;
  width: 55%;
  padding: 0 0px 5px 15px;
  margin: 0 0px 5px 15px;
}

#dealer-hand {
  height: 135px;
  display: block;
  border: 1px white solid;
  border-radius: 5px;
  padding: 8px 0 8px 0;
  margin: 0 0 5px 5px;
  text-align: center;
  max-width: 435px;
}
#player-hand {
  height: 135px;
  display: block;
  border: 1px white solid;
  border-radius: 5px;
  padding: 8px 0 8px 0;
  margin: 0 0 5px 5px;
  text-align: center;
  max-width: 435px;

}
.card {
	height: 100%;
	display: inline-block;
	margin: auto 2.5px;
}

img#card-back {
  position: absolute;
  z-index: 1;
  height: 135px;
  width: 97px;
  margin-left: 5px;
  display: inline-block;
}

#dealer-score {
}


/*******MODAL*********/
h3{
	display: inline-block;
	margin: 5px;
}

#modal{
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
}

img#modal-image {
	width: 100%;
	margin: 3px;
}

.modal-content {
	margin: 0 30%;
    background-color: white;
	width: 40%;
}

.modal-header {
  position: absolute;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
}

.modal-body {
  width: 100%;
  background-color: white;
  border-top: 2px rebeccapurple;
  position: relative;
  top: 204px;
  margin: 5px;
}
/*********END - MODAL*********/
