h1{
   font-family: helvetica;
   font-size: 16px;
}

h2 {
   font-family: helvetica;
   font-size: 13px;
}

body {
	font-family: helvetica;
	background: #DCDCDC;
}

h2#status {
	position: relative;
}

#dealer-hand {
	height: 100px;
	display: block;
	border: 1px white solid;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	text-align: center;
	width: auto;
}
#player-hand {
	height: 100px;
	display: block;
	border: 1px white solid;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	text-align: center;	
	min-width: 200px;

}

.card {
	height: 100%;
	display: inline-block;
	margin: auto 2.5px;
}

img#card-back {
  position: absolute;
  z-index: 1;
  height: 99px;
  width: 72px;
  margin-left: 5px;
  display: inline-block;
}

#dealer-score {
}


/*******MODAL*********/
h3{
	display: inline-block;
	margin: 5px;
}

#modal{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
}

img#modal-image {
	width: 100%;
	margin: 3px;
}

.modal-content {
	position: relative;
	margin: 0 30%;
	background-color: white;
	top: 100px;
	width: 40%;
}

.modal-header {
	position: absolute;
	background-color: white;
	width: 100%;
}

.modal-body {
	position: absolute;
	width: 100%;
	top: 50px;
	background-color: white;
	border-top: 2px rebeccapurple;
}
/*********END - MODAL*********/
